body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background-color: rgb(114, 175, 210);
}

.calculator {
  background-color: #f28ede;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 400px;
}
.display {
  width: 95%;
  height: 50px;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: right;
  padding: 10px;
  border: none;
  background-color: #e8f0f3;
  border-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  color:rgb(237, 144, 220);
}

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #f53fbb;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #b4008a;
}